html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Muli', sans-serif;
    margin: 0;
    background: #ECEEF7;
    height: 20vh;
}

a {
    text-decoration: none;
    color: inherit;
}

footer {
    background: #10182F;
    font-size: 1rem;
    padding: 90px 70px 0;
    position: relative;
    color: #A2AED2;
    top: 50%;
}

.logo {
    display: flex;
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 40px;
}

.logo .fa-water {
    margin-right: 12px;
}

li {
    list-style: none;
}

.upper-footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    padding: 40px 0;
}

ul span {
    display: block;
    margin-bottom: 25px;
}

footer a:hover {
    color: #d4d9ec
}

span {
    font-weight: 700;
}

.upper-footer li {
    line-height: 2.5;
}

.social-media {
    margin: 1em 0;
}

.social-media p {
    width: 80%;
    line-height: 1.8;
}

.icons-container {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.icons-container i {
    font-size: 1.3rem;
    white-space: nowrap;
    opacity: 0.6;
}

.icons-container i:hover {
    opacity: 1;
}

footer hr {
    border: .5px solid #A2AED2;
    opacity: 0.2;
}

.lower-footer {
    font-size: .9rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: space-between;
    padding: 20px 0;
}

.lower-footer .center-text {
    justify-content: space-between;
}

.center-text li {
    margin: 0 5px;
}

.lower-footer ul {
    display: flex;
}

ul.lang {
    display: grid;
    justify-items: end;
}


/* Media Query */

@media (max-width: 936px) {
    footer {
        padding: 90px 20px 0;
    }

    .social-media p {
        width: 100%;
    }

    .icons-container {
        width: 80%;
    }
}

@media (max-width: 540px) {
    footer {
        padding: 10px 18px 0;
    }

    .logo {
        margin-left: 0;
    }

    .upper-footer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
        gap: 0;
        padding: 10px 0;
        font-size: .9rem;
    }

    footer ul {
        padding-inline-start: 0;
    }

    .upper-footer li {
        line-height: 1.7;
    }

    .icons-container i {
        font-size: 1.1rem;
    }

    .lower-footer {
        font-size: .75rem;
    }
}