:root {
    --text-color: hsl(226, 35%, 19%);
    --moody-blue: hsl(239, 51%, 66%);
    --moody-blue_hover: hsl(239, 57%, 60%);
    --white-color: #fff;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
}

body {
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjxzdmcgd2lkdGg9IjkwMXB4IiBoZWlnaHQ9IjkwMXB4IiB2aWV3Qm94PSIwIDAgOTAxIDkwMSIgdmVyc2lvbj0iMS4xIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiAgPHBhdGggZD0iTTQ1MCA5MDBDNjk4LjUyOCA5MDAgOTAwIDY5OC41MjggOTAwIDQ1MEM5MDAgMjAxLjQ3MiA2OTguNTI4IDAgNDUwIDBDMjAxLjQ3MiAwIDAgMjAxLjQ3MiAwIDQ1MEMwIDY5OC41MjggMjAxLjQ3MiA5MDAgNDUwIDkwMFoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAuNSAwLjUpIiBpZD0iT3ZhbCIgZmlsbD0iIzdFODBDMSIgc3Ryb2tlPSJub25lIiAvPg0KPC9zdmc+")no-repeat center center fixed, hsl(239, 34%, 66%);
    background-size: 40rem;
    color: var(--text-color);
    font-family: 'Muli', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    width: 90%;
    max-width: 620px;
    margin: 20vh auto;
}

.ui {
    background: var(--white-color);
    border-radius: 8px;
    padding: 1rem 10%;
}

.ui--close {
    display: block;
    margin-bottom: 20px;
}

.ui--close .close-icon {
    width: 11px;
    left: 100%;
    position: relative;
    transition: 350ms linear;
    cursor: pointer;
}

.ui--close .close-icon:hover {
    transform: scale(1.25);
    filter: invert(8%) sepia(90%) saturate(3002%) hue-rotate(335deg) brightness(97%) contrast(200%);
}

.ui--input_search {
    position: relative;
}

.ui--input_search ::placeholder {
    color: var(--text-color);
    font-size: .87rem;
    color: rgb(122, 123, 129);
    font-weight: 500;
}

.search-icon {
    position: absolute;
    width: 16px;
    top: 14px;
    left: 18px;
}

.search-input {
    color: #212121;
    height: 2.9rem;
    width: 100%;
    background: rgb(244, 246, 254);
    border: 2px solid hsla(224, 27%, 92%, 0.774);
    border-radius: 50px;
    font-size: .97rem;
    margin-bottom: 1.5rem;
    padding: 0 .9rem 0 2.9rem;
    outline: none;
}

.search-input:focus,
.search-input:hover {
    box-shadow: 0 1px 4px 0 rgba(32, 33, 36, 0.199);
}

.ui--menu {
    margin: 0 auto 1.8rem;
    text-align: center;
    width: fit-content;
}

.ui--menu p {
    transition: 300ms linear;
}

.ui--menu p:hover {
    font-weight: bold;
    cursor: pointer;
}

.campaign-btn {
    background: var(--moody-blue);
    border: 0;
    border-radius: 50px;
    color: var(--white-color);
    display: block;
    font-size: .9rem;
    height: 2.8rem;
    text-align: center;
    width: 80%;
    margin: 0 auto 2.4rem;
    outline: none;
    box-shadow: 0 13px 15px -9px hsla(238, 70%, 67%, 0.651);
    cursor: pointer;
    transition: 150ms ease-out;
}

.campaign-btn:hover {
    background: var(--moody-blue_hover);
}

.divider {
    border: 1px solid hsl(236, 73%, 96%);
    margin-bottom: 1.5rem;
}

.ui--profile-wrapper {
    margin-bottom: 2.5rem;
}

.profile-image {
    width: 64px;
    height: auto;
    filter: saturate(115%);
    margin-right: .7rem;
}

.profile-image:hover {
    opacity: .8;
    cursor: pointer;
}

.ui--profile-wrapper {
    display: flex;
}

.profile-details h3 {
    margin: 0 0 .9rem;
    font-size: 1.1rem;
}

.badge {
    color: var(--white-color);
    font-size: .73rem;
    text-transform: uppercase;
    background: hsl(23, 100%, 60%);
    display: inline-block;
    padding: 3.3px 7px;
    border-radius: 10px;
    vertical-align: top;
    pointer-events: none;
    -webkit-user-drag: none;
}

.profile-details>span:nth-child(2)>p {
    margin-block-start: 0;
}

.profile-details>span:nth-child(2)>p:hover {
    color: var(--moody-blue_hover);
    cursor: pointer;
}

.logout {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.logout p {
    transition: 300ms linear;
}

.logout p:hover,
.logout-icon:hover {
    cursor: pointer;
    font-weight: bold;
}

.logout-icon {
    width: 17px;
    margin-right: 8px;
}


/* U1 2 */

.arrow-back {
    width: 13px;
    transition: 300ms ease-in;
}

.arrow-back:hover {
    transform: scale(1.23);
    cursor: pointer;
}

.ui--date {
    margin-bottom: 2.2rem;
}

.ui--date>h1 {
    font-size: 1.25rem;
    margin-bottom: .2rem;
}

.ui--date>p {
    color: var(--moody-blue);
    font-size: .8rem;
    font-weight: 500;
    margin-top: 0;
    cursor: default;
}

.ui--cards-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 83px);
    grid-gap: 8.5px;
    margin-bottom: 2.8rem;
}

.card {
    border: 1px solid hsl(224, 28%, 92%);
    border-radius: 10px;
    text-align: center;
    transition: 150ms ease-out;
}

.card:hover {
    transform: perspective(1px) scale(1.05);
    box-shadow: 0 13px 10px -12px hsla(238, 30%, 81%, 0.651);
    border: 1px solid hsl(224, 28%, 92%);
    cursor: default;
}

.ui--cards-wrapper>div:nth-child(2) {
    background: var(--moody-blue);
    color: #fff;
    box-shadow: 0 13px 10px -12px hsla(238, 70%, 67%, 0.651);
}

.ui--cards-wrapper>div:nth-child(2):hover {
    background: var(--moody-blue_hover);
    box-shadow: 0 13px 10px -12px hsla(238, 70%, 67%, 0.651);
}

.card:nth-child(-n+4)>h2 {
    font-size: 1.3rem;
    margin-bottom: .2rem;
}

.card:nth-child(-n+4)>p {
    margin-top: 0;
}

.footer-item p {
    font-size: .83rem;
    font-weight: 500;
    margin-bottom: .2rem;
}

.footer-item h3 {
    font-size: 1rem;
    margin-top: 0;
}


/* Media Query */

@media (max-width: 625px) {
    .container {
        display: grid;
        grid-template-columns: 290px;
        justify-content: center;
        margin: 3vh auto;
    }

    .ui-2 {
        padding: 1rem 10% 3.8rem;
    }
}

@media (max-width: 420px) {

    .search-input {
        height: 2.5rem;
    }

    .search-icon {
        top: 11px;
    }

    .ui--menu p {
        font-size: .9rem;
    }

    .campaign-btn {
        height: 2.5rem;
    }

    .profile-image {
        width: 58px;
    }

    .profile-details h3 {
        font-size: 1rem;
    }

    .badge {
        font-size: .6rem;
        padding: 3px 5.5px;
    }

    .profile-details>span:nth-child(2)>p {
        font-size: .87rem;
    }

    .logout-icon {
        width: 15px;
    }

    .logout p {
        font-size: .94rem;
    }


    /* UI 2 */
    .ui-2 {
        padding: 1rem 10% 3.4rem;
    }

    .ui--date>h1 {
        font-size: 1.1rem;
    }

    .ui--date>p {
        font-size: .77rem;
    }

    .ui--cards-wrapper {
        grid-template-rows: repeat(2, 77px);
    }

    .card:nth-child(-n+4)>h2 {
        font-size: 1.1rem;
    }

    .card:nth-child(-n+4)>p {
        font-size: .85rem;
    }

    .footer-item p {
        font-size: .8rem;
    }

    .footer-item h3 {
        font-size: .9rem;
    }
}