html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: hsl(249, 40%, 27%);
    color: hsl(0, 0%, 100%);
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    background: linear-gradient(223deg, hsl(239, 55%, 64%), hsl(261, 37%, 46%), hsl(261, 32%, 38%), hsl(261, 32%, 38%));
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2.6rem;
    width: 90%;
    max-width: 990px;
    margin: 4vh auto;
    padding: 6rem 5.5%;
}

.card-text h1 {
    font-size: 1.7rem;
    font-weight: 600;
}

.card-text p {
    font-size: .88rem;
    font-weight: 500;
    line-height: 1.89;
    color: hsla(0, 0%, 100%, 0.904);
    margin-bottom: 3.5rem;
}

.card-stats {
    background:
        linear-gradient(hsla(0, 0%, 100%, 0.1), hsla(0, 0%, 100%, 0.1)) no-repeat center,
        linear-gradient(hsla(0, 0%, 100%, 0.1), hsla(0, 0%, 100%, 0.1)) no-repeat center;
    background-size: 100% 2px, 2px 100%;
}

.top-stats,
.bottom-stats {
    display: flex;
}


.top-stats-one,
.top-stats-two,
.bottom-stats-one,
.bottom-stats-two {
    display: grid;
    justify-content: center;
    width: 100%;
}

.card-stats h2 {
    font-size: 2.9rem;
    font-weight: 600;
    letter-spacing: 2.7px;
    margin-bottom: .2rem;
}

.top-stats h2 {
    margin-top: 0;
}

.card-stats p {
    font-size: .65rem;
    text-transform: uppercase;
    margin: 0 0 1rem;
    opacity: .85;
}

.btn {
    padding: 1.2rem 1.5rem;
    background: hsla(0, 0%, 100%, 0.079);
    text-transform: uppercase;
    font-size: .85rem;
}