html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: #FCAB84;
    font-family: 'Muli', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.main-container {
    display: grid;
    place-items: center;
    height: 100vh;
}

.modal-container {
    background: #fff;
    border-radius: 9px;
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px 20px 70px;
}

.modal-icons_cont {
    color: #81838D;
    display: grid;
    grid-template-columns: auto 1fr;
    justify-items: end;
    align-items: center;
}

.fa-arrow-left {
    padding: 7px 8px;
    background: #eaeaea;
    border-radius: 3px;
}


/* Make icon lighter/Thinner */

.fa-times {
    -webkit-text-stroke: 1.5px #ffffff;
    font-size: 1.3rem;
}

.fa-arrow-left {
    -webkit-text-stroke: .5px #eaeaea;
}


/* Make icon lighter/Thinner end */

.fa-times:hover {
    font-size: 1.5rem;
    color: #930705;
}

.fa-arrow-left:hover {
    -webkit-text-stroke: .5px #d3d2d2;
    background: #d3d2d2;
}

.modal-content_cont {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    padding: 0 15px;
}

.modal-content_cont p {
    font-size: .8rem;
    line-height: 1.5;
    width: 90%;
}

.modal-content_cont h2 {
    font-size: 1.2rem;
}

.modal-content_cont h3 {
    font-size: .9rem;
    margin: 30px 0 8px;
}

input {
    border: 1px solid #d5d5e2;
    border-radius: 5px;
    display: block;
    margin-bottom: 50px;
    width: 100%;
    height: 2.6rem;
    padding: 15px;
    outline: none;
}

input:focus {
    box-shadow: 0 1px 5px 0 rgba(32, 33, 36, 0.28);
}

::placeholder {
    color: #9d9db6;
}

.modal-content_cont .btn {
    border-radius: 4px;
    display: inline-block;
    font-size: .9rem;
    font-weight: bold;
    padding: .8em 2.5em;
    text-align: center;
}

.modal-content_cont .btn-continue {
    background: #F96260;
    color: #fff;
}

.modal-content_cont .btn-continue:hover {
    background: #930705;
}

.modal-content_cont .btn-cancel {
    background: transparent;
    color: #81838D;
}

.modal-content_cont .btn-cancel:hover {
    background: #81838D;
    color: #fff;
}


/* Media Query */

@media (max-width: 443px) {
    .modal-container {
        padding: 20px 20px 45px;
    }

    input {
        height: 2.45rem;
    }

    .modal-content_cont .btn {
        padding: .6em .9em;
    }

    .modal-content_cont .btn-continue {
        margin-right: 16px;
    }
}

@media (max-width: 325px) {
    .modal-content_cont .btn {
        padding: .55em .8em;
    }

    .modal-content_cont .btn-continue {
        margin-right: 4px;
    }
}