html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: 'Muli', sans-serif;
    margin: 0;
    padding: 0;
}