html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: hsl(210, 30%, 96%);
    color: hsl(229, 35%, 9%);
    font-family: "Mulish", sans-serif;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}