html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: hsl(220, 60%, 98%);
    color: hsl(226, 35%, 19%);
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-weight: 500;
}